@use 'sass:meta';
@use 'pkg:@n8d/htwoo-core/lib/sass/00-base/colors/colors' as dt;

:global {
  @keyframes :global(hoo-spinner) {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.salesLead {

  color: var(--bodyText);
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;

  :global {
    @include meta.load-css("pkg:@n8d/htwoo-core/lib/sass/htwoo-core");
    @include meta.load-css("../../../common/styles/common.module");
    @include meta.load-css("../../../common/components/molecules/LeadForm");
    @include meta.load-css("./userlookup");

    button.hoo-buttoncmd{
      .hoo-button-icon{
        color: dt.$theme-600;
      }
    }

    .toolbar {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-block: 1rem;
      .is-active{
        background-color: dt.$neutral-100;
      }

      .filter{
        display: flex;
        align-items: center;
        padding-left: 1rem;
        label{
          text-wrap: nowrap;
        }
      }
    }

  }

}