//@import '~office-ui-fabric-react/dist/sass/References.scss';
:global {
  @import "node_modules/liquid-core/src/styles/00-base/colors/color-vars-css-converted";

}

@import "node_modules/liquid-core/src/styles/00-base/mixin/core.mixin";
@import "node_modules/liquid-core/src/styles/00-base/mixin/grid.mixin";

.appPartPage {
  box-sizing: border-box;
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 1em;
}

.covidForm {
  :global {
    @import "node_modules/liquid-core/src/styles/style";

    .lqd-input-text {
      width: 100%;
    }
  }

  .form {
    @include gridBase();

  }

  /*h1 {
    @include gridSpan(12, 1);
  }

  p,
  .lqd-select,
  .question,
  .textbox {
    @include gridSpan(6, 1);
  }*/
  .formRow {
    @include gridSpan(6, 1);
  }

  .question {
    font-weight: 700;
    line-height: 24px;
  }

  .textbox {
    width: 100%;
  }

  .buttons,
  .radio {
    @include gridSpan(2, 1);
    display: flex;
    gap: px2rem(16px);

    button {
      cursor: pointer;
    }
  }
}
