//Globally add in Segoe UI Font - for Teams support
@import './fonts';

.appPartPage {
  box-sizing: border-box;
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

.covidAdmin {
  :global {
    //Import hTWOo styles so they are available to our controls
    //IMPORTANT NOTE: This is not best practice, for production solution you should 
    //   import the styles for the individual components your using vs 
    //   importing the global style definition.
    @import "node_modules/@n8d/htwoo-core/lib/sass/style";

    //Override for form to make it 100%
    .hoo-input-text {
      width: 100%;
    }

    //Override to make the dialog have a scroll if necessary
    .hoo-mdldialog {
      overflow: auto;
    }

    .hoo-button-pivot {
      outline: none;
    }

    .hoo-table tbody td {
      vertical-align: middle;
    }

    //Presence styles
    .noImage {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      &.green10 {
        background-color: #498205;
      }

      &.darkGreen20 {
        background-color: #0b6a0b;
      }

      &.teal10 {
        background-color: #038387;
      }

      &.cyan30 {
        background-color: #005b70;
      }

      &.lightBlue30 {
        background-color: #4f6bed;
      }

      &.blue20 {
        background-color: #0078d4;
      }

      &.darkBlue10 {
        background-color: #004e8c;
      }

      &.violet10 {
        background-color: #8764b8;
      }

      &.purple10 {
        background-color: #5c2e91;
      }

      &.magenta10 {
        background-color: #881798;
      }

      &.lightPink10 {
        background-color: #c239b3;
      }

      &.pink10 {
        background-color: #e3008c;
      }

      &.pinkRed10 {
        background-color: #750b1c;
      }

      &.red10 {
        background-color: #d13438;
      }

      &.darkRed20 {
        background-color: #a4262c;
      }

      &.orange10 {
        background-color: #ca5010;
      }

      &.orange30 {
        background-color: #8e562e;
      }

      &.orangeYellow20 {
        background-color: #986f0b;
      }

      &.gray30 {
        background-color: #7a7574;
      }

      &.gray20 {
        background-color: #69797e;
      }

    }

    .hoo-radio+label {
      padding-right: 1rem;
    }

    font-family: "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
    color: $bodyText;
  }

  input {
    font-family: "Segoe UI",
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      "Helvetica Neue",
      sans-serif;
  }

  .componentGrid,
  .form {
    @include gridBase();

    .formRow {
      @include gridSpan(6, 1);
    }

    .buttons {
      display: flex;
      //gap: px2rem(16px);

      &>div {
        margin-right: 1rem;
      }

      &>button {
        margin-right: 1rem;
      }

    }
  }

  .componentGrid {


    >h1 {
      @include gridSpan(6, 1);
    }

    >p {
      @include gridSpan(8, 1);
    }

    >div,
    >table {
      @include gridSpan(12, 1);
    }

    &.dialog {
      margin: auto;
    }

  }

  .form {
    .textbox {
      width: 100%;
    }

    .buttons,
    .radio {
      @include gridSpan(2, 1);
      display: flex;
      gap: px2rem(16px);
    }
  }

  .textLabel {
    font-weight: 700;
    line-height: 24px;
  }

  //Check In dots
  span.checkIn {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-block;
    background-color: red;


    &.isCheckedIn {
      background-color: green;
    }
  }

  .searchControls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .dateSelector {
    display: flex;
    justify-content: center;

  }

  //Configuration Loader
  .loaderContainer {
    padding-top: px2rem(24px);
  }

  .loader {
    border: px2rem(8px) solid transparent;
    /* Light grey */
    border-top: px2rem(8px) solid var(--primaryButtonBackground);
    ;
    /* Blue */
    border-radius: 50%;
    width: px2rem(60px);
    height: px2rem(60px);
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  //Configuration Loader

  .adminIFrame {
    height: 70vh;
    width: 56vw;
  }

  .isVisibleGrid {
    display: grid;
  }

  .isVisible {
    display: block;
  }

  .isHidden {
    display: none;
  }

  .error {
    color: red;
  }

  .centered {
    text-align: center !important;
  }


}

:global {
  .dark-mode {
    :local {
      .covidAdmin {
        :global {
          .hoo-input-search {
            background-color: var(--primaryButtonBackground);

            .icon {
              color: var(--bodyText);

              svg {
                fill: currentColor;
              }
            }
          }

          .hoo-button:hover {
            --buttonBackgroundCheckedHovered: #292929;
          }

          .hoo-buttonflyout {
            --bodyBackground: #292929;

            .hoo-buttonaction:hover {
              --buttonBackgroundHovered: #3b3a39;
            }
          }

          .hoo-wcs-day {
            color: var(--bodyBackground);

            svg {
              fill: var(--bodyBackground);
            }
          }

          .date-picker input {
            --bodyText: var(--bodyBackground);
          }

          .hoo-mdldialog,
          .hoo-optgroup-items,
          .hoo-select-dropdown,
          .hoo-buttonflyout,
          .hoo-button-primary:disabled,
          .hoo-button-primary[disabled] {
            border: 1px solid white;
          }
        }
      }
    }
  }

  .contrast-mode {
    :local {
      .covidAdmin {
        :global {

          .hoo-button-primary,
          .hoo-buttoncomp-primary,
          a.hoo-button-primary,
          .hoo-buttonsplit-standard,
          .hoo-buttonsplit-carret,
          .hoo-buttonsplit-primary.show-flyout .hoo-buttonsplit-carret {
            border-color: white;
          }

          .hoo-mdldialog,
          .hoo-optgroup-items,
          .hoo-select-dropdown {
            border: 1px solid white;
          }

          .hoo-wc-clock .hoobuttonicon,
          .hoo-dtshours.no-bg .hoo-buttonicon:hover,
          .hoo-buttonicon,
          .hoo-buttonaction {
            svg {
              fill: currentColor;
            }

            &:hover {
              background-color: var(--buttonBackgroundHovered);

              svg {
                fill: var(--buttonTextHovered);
              }
            }
          }

          .hoo-dtshours-label.isSelected,
          .hoo-dtshours.is-selected,
          .is-selected.hoo-dtshours-label .hoo-dtshours-label:hover {
            background-color: var(--buttonBackgroundHovered);
          }

          .hoo-buttonflyout {
            --bodyBackground: black;
            border: 1px solid var(--buttonBorder);

            .hoo-buttonaction:hover {
              .hoo-button-label {
                color: var(--buttonTextHovered);
              }
            }
          }

          .hoo-input-search {
            background-color: var(--primaryButtonBackground);

            .icon {
              color: var(--bodyText);

              svg {
                fill: currentColor;
              }
            }
          }

          .date-picker input {
            --bodyText: black;
          }

          .hoo-checkbox:checked+label:after {
            --inputIcon: black;
          }

          .hoo-option:hover {
            --buttonBackgroundHovered: white;
            --buttonText: black;
          }

          .hoo-wcs-night,
          .hoo-wcs-day {
            background-image: none;
            color: var(--bodyText);

            svg {
              fill: var(--bodyText);
            }
          }

          .hoo-wc-clock {
            border: .1rem solid var(--bodyText) !important;
          }
        }
      }
    }
  }
}