//@import '~office-ui-fabric-react/dist/sass/References.scss';
:global {
  @import "node_modules/@n8design/htwoo-core/src/styles/00-base/colors/color-vars-css-converted";

}

@import "node_modules/@n8design/htwoo-core/src/styles/00-base/mixin/core.mixin";
@import "node_modules/@n8design/htwoo-core/src/styles/00-base/mixin/grid.mixin";

.appPartPage {
  box-sizing: border-box;
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

.covidAdmin {
  :global {
    @import "node_modules/@n8design/htwoo-core/src/styles/style";

    .hoo-input-text {
      width: 100%;
    }

    .noImage {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      &.green10 {
        background-color: #498205;
      }

      &.darkGreen20 {
        background-color: #0b6a0b;
      }

      &.teal10 {
        background-color: #038387;
      }

      &.cyan30 {
        background-color: #005b70;
      }

      &.lightBlue30 {
        background-color: #4f6bed;
      }

      &.blue20 {
        background-color: #0078d4;
      }

      &.darkBlue10 {
        background-color: #004e8c;
      }

      &.violet10 {
        background-color: #8764b8;
      }

      &.purple10 {
        background-color: #5c2e91;
      }

      &.magenta10 {
        background-color: #881798;
      }

      &.lightPink10 {
        background-color: #c239b3;
      }

      &.pink10 {
        background-color: #e3008c;
      }

      &.pinkRed10 {
        background-color: #750b1c;
      }

      &.red10 {
        background-color: #d13438;
      }

      &.darkRed20 {
        background-color: #a4262c;
      }

      &.orange10 {
        background-color: #ca5010;
      }

      &.orange30 {
        background-color: #8e562e;
      }

      &.orangeYellow20 {
        background-color: #986f0b;
      }

      &.gray30 {
        background-color: #7a7574;
      }

      &.gray20 {
        background-color: #69797e;
      }

    }
  }

  .componentGrid {
    @include gridBase();

    >h1 {
      @include gridSpan(6, 1);
    }

    >p {
      @include gridSpan(8, 1);
    }

    >div,
    >table {
      @include gridSpan(12, 1);
    }
  }


  .formRow {
    @include gridSpan(6, 1);
  }

  .buttons {
    display: flex;
    gap: px2rem(16px);

  }

  .checkIn span {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-block;
  }

  .isCheckedIn {
    background-color: green;
  }

  .isNotCheckedIn {
    background-color: red;
  }

  .searchControls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .dateSelector {
    display: flex;
    justify-content: center;

  }

  .form {
    @include gridBase();

  }

  .formRow {
    @include gridSpan(6, 1);
  }

  .question {
    font-weight: 700;
    line-height: 24px;
  }

  .textbox {
    width: 100%;
  }

  .buttons,
  .radio {
    @include gridSpan(2, 1);
    display: flex;
    gap: px2rem(16px);

    button {
      cursor: pointer;
    }
  }

  .adminIFrame {
    height: 70vh;
    width: 56vw;
  }
}
