//@import '~office-ui-fabric-react/dist/sass/References.scss';
:global {
  @import "node_modules/liquid-core/src/styles/00-base/colors/color-vars-css-converted";

}

@import "node_modules/liquid-core/src/styles/00-base/mixin/core.mixin";

.covidAdmin {
  :global {
    @import "node_modules/liquid-core/src/styles/style";

    .lqd-input-text {
      width: 100%;
    }
  }

  .checkIn span {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-block;
  }

  .isCheckedIn {
    background-color: green;
  }

  .isNotCheckedIn {
    background-color: red;
  }
}
