//Globally add in Segoe UI Font - for Teams support
@import './fonts';
@import 'node_modules/@n8d/htwoo-core/lib/components/base';




.aceDesignTemplatePersonalApp {
  padding: 1rem 5rem;
  font-family: var(--mediumFontFamily);



  :global {
    //@import 'node_modules/@n8d/htwoo-core/lib/sass/style.prod';
    @import 'node_modules/@n8d/htwoo-core/lib/components/buttons';
    @import 'node_modules/@n8d/htwoo-core/lib/components/cards';

    .hoo-button-label {
      height: auto;
      min-height: 1.875rem;
    }

    .introText {
      @include gridSpan(12);
    }

    .appList>article {
      cursor: pointer;
    }

    .hoo-cardgrid,
    .appDetails {
      img {
        width: 100%;
        height: auto;
        object-fit: fill;
        max-width: 275px;
        margin: 1rem auto;
      }
    }

    .appDetails {
      .hoo-teamsdbcard-content {
        padding-top: 1rem;
      }

      .hoo-teamsdbcard {
        @include gridSpan(4);

        img.cardview {
          max-width: 275px;
        }

        img.quickview {
          max-width: 350px;
        }

        .hoo-teamsdbcard-title {
          color: var(--primaryButtonBackground);
        }

        a.hoo-button-primary,
        a.hoo-button {
          display: block;
        }

        .introText {
          padding: .5rem 0;
          font-size: 1rem;
        }

        .deepLinkCard {
          width: 75%;
          font-size: 1rem;
          border-radius: 4px;
          box-shadow: var(--cardShadow);
          background-color: var(--bodyStandoutBackground);
          margin-bottom: 1rem;
          padding: 0.5rem 0.5rem 1rem 0.5rem;

          >span {
            display: block;
          }

          .linkCardLabel {
            font-weight: 700;
          }
        }
      }
    }

    .appDetails.hoo-teamsdb {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      margin-left: 0;
      margin-right: 0;
    }


  }

  .appPartPage {
    box-sizing: border-box;
    max-width: 1268px;
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
  }
}

:global {
  .dark-mode {
    :local {
      .aceDesignTemplatePersonalApp {
        :global {

          .introText {
            color: var(--bodyText);
          }

          .hoo-icon-svg svg {
            fill: var(--bodyText);
          }
        }
      }
    }
  }

  .contrast-mode {
    :local {
      .aceDesignTemplatePersonalApp {
        :global {

          .introText {
            color: var(--bodyText);
          }

          .hoo-icon-svg svg {
            fill: var(--bodyText);
          }

          .hoo-teamsdb {
            border-color: var(--bodyText);

            .hoo-teamsdbcard {
              background-color: var(--bodyBackground);
              color: var(--bodyText);
              border: 1px solid var(--bodyText);

              &:hover {
                background-color: var(--buttonBackgroundHovered);
                color: var(--primaryButtonTextHovered);

                .hoo-teamsdbcard-title {
                  color: var(--primaryButtonTextHovered);
                }
              }
            }

            .hoo-teamsdbcard-title {
              color: var(--bodyText);
            }
          }
        }
      }
    }
  }
}