//Globally add in Segoe UI Font - for Teams support
@import './fonts';

.appPartPage {
  box-sizing: border-box;
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

.roomReservation {
  font-size: 16px;

  :global {
    //Import hTWOo styles so they are available to our controls
    @import 'node_modules/@n8d/htwoo-core/lib/components/all';

    .meeting-headline {
      grid-column: auto / span 12;
    }

    .hoo-buttoncmd button.hoo-buttoncmd .hoo-button-icon {
      line-height: inherit;
    }

    .hoo-mdldialog-outer.is-visible[class*=is-sidebar] {
      z-index: 100;
    }

    .meeting-datelist {
      @extend %listReset;
      @include gridBase();

      margin-top: 1rem;
      margin-bottom: 2rem;
      margin-left: 0;
      margin-right: 0;
      cursor: pointer;
    }

    .meeting-date {
      grid-column: auto / span 3;
    }

    .new-reservation {
      display: grid;
      justify-content: space-between;
      flex-direction: column;
      gap: 1rem;

      >div {
        grid-column: auto/span 12;
        display: grid;
      }


    }

    .date-details {
      @include elevation(4);

      display: flex;
      flex-direction: column;

      padding: .75rem 1rem .95rem;

      border: 1px $neutralTertiary solid;
      border-radius: px2rem(4px);
      min-height: px2rem(150px);
    }

    .date-title {
      font-size: 1.25rem;
      font-weight: bolder;
    }

    .date-day {
      font-weight: bolder;
      line-height: 1.75;
    }

    .date-room {
      font-size: 1rem;
    }

    .meeting-room-selector {
      box-sizing: border-box;
      padding: 1rem 0;
    }

    .meeting-rooms {
      @include gridBase();
    }

    .hoo-meetingcard {
      @extend .hoo-doccard;
      min-width: auto;

      grid-column: auto / span 3;
      cursor: pointer;
    }

    .hoo-meetingcard {
      .hoo-cardtitle {
        height: auto;
      }

      .hoo-cardimage {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      .hoo-cardcapacity {
        font-size: .75rem;
        font-weight: 600px;
        box-sizing: border-box;
        padding: 0rem .75rem .5rem;
        color: var(--bodyText);
      }
    }

    .meetingroom-selection {
      @include gridBase();
    }

    .meetingroom-title {
      grid-column: auto / span 12;
      grid-row: 1;
    }

    .meetingroom-closeup {
      grid-column: auto / span 6;
      grid-row: 2;
    }

    .meetingroom-floorplan {
      grid-column: auto / span 6;
      grid-row: 3;
    }

    .meetingroom-closeup-img {
      width: 100%;
      height: auto;

      //aspect-ratio: 19/9;
    }

    .meetingroom-info {
      display: flex;
      flex-direction: row;

      align-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      grid-column: auto / span 6;
      grid-row: 2 / span 2;
    }

    .meetingroom-name {
      font-size: 200%;

      margin-top: 0;

      flex-basis: 100%;
    }

    .meetingroon-address {
      font-style: normal;

      width: calc(50% - .5rem);
    }

    .meetingroom-phone {
      display: flex;
      flex-direction: row;

      margin-top: .5rem;

      gap: 16px;
    }

    .meetingroom-actions {
      display: flex;
      flex-direction: column;

      width: calc(50% - .5rem);

      gap: .5rem;
    }

    .meetingroom-action {
      text-align: right;

      a {
        color: var(--buttonText);
        text-decoration: none;
      }
    }

    .meetingroom-map {
      position: relative;

      width: 100%;
      padding-bottom: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        width: 100%;
        height: 100%;

        aspect-ratio: 16 / 9;
      }
    }

    .meetingroom-request {
      flex-basis: 100%;

      h2 {

        border-bottom: 1px solid var(--bodyText);
        font-size: 200%;

        margin-top: 0;
        margin-bottom: 1rem;

        flex-basis: 100%;
      }

      .booking-info {
        display: flex;
        margin-bottom: 1rem;

        label {
          width: calc(30% - .5rem);
        }
      }
    }

    .textbox {
      width: calc(70% - .5rem);

      .hoo-input-text {
        width: 100%;
      }
    }

    font-family: "Segoe UI",
    "Segoe UI Web (West European)",
    "Segoe UI",
    -apple-system,
    system-ui,
    Roboto,
    "Helvetica Neue",
    sans-serif;
    color: $bodyText;

    input {
      font-family: "Segoe UI",
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        "Helvetica Neue",
        sans-serif;
    }
  }

}

:global {
  .dark-mode {
    :local {
      .roomReservation {
        :global {

          .hoo-button-primary:disabled,
          .hoo-button-primary[disabled] {
            border: 1px solid white;
          }

          .hoo-input-search {
            background-color: var(--primaryButtonBackground);

            .icon {
              color: var(--bodyText);

              svg {
                fill: currentColor;
              }
            }
          }

          .hoo-button:hover {
            --buttonBackgroundCheckedHovered: #292929;
          }

          .hoo-buttonflyout {
            --bodyBackground: #292929;

            .hoo-buttonaction:hover {
              --buttonBackgroundHovered: #3b3a39;
            }
          }

          .hoo-mdldialog,
          .hoo-optgroup-items,
          .hoo-select-dropdown,
          .hoo-buttonflyout {
            border: 1px solid white;
          }
        }
      }
    }
  }

  .contrast-mode {
    :local {
      .roomReservation {
        :global {

          .hoo-button-primary,
          .hoo-buttoncomp-primary,
          a.hoo-button-primary,
          .hoo-buttonsplit-standard,
          .hoo-buttonsplit-carret,
          .hoo-buttonsplit-primary.show-flyout .hoo-buttonsplit-carret {
            border-color: white;
          }

          .hoo-mdldialog,
          .hoo-optgroup-items,
          .hoo-select-dropdown {
            border: 1px solid white;
          }

          .hoo-buttonicon,
          .hoo-buttonaction {
            svg {
              fill: currentColor;
            }

            &:hover {
              background-color: var(--buttonBackgroundHovered);

              svg {
                fill: var(--buttonTextHovered);
              }
            }
          }

          .hoo-buttonflyout {
            --bodyBackground: black;
            border: 1px solid var(--buttonBorder);

            .hoo-buttonaction:hover {
              .hoo-button-label {
                color: var(--buttonTextHovered);
              }
            }
          }

          .hoo-input-search {
            background-color: var(--primaryButtonBackground);

            .icon {
              color: var(--bodyText);

              svg {
                fill: currentColor;
              }
            }
          }

          .hoo-checkbox:checked+label:after {
            --inputIcon: black;
          }

          .hoo-option:hover {
            --buttonBackgroundHovered: white;
            --buttonText: black;
          }
        }
      }
    }
  }
}