//@import '~office-ui-fabric-react/dist/sass/References.scss';
:global{
    @import "node_modules/liquid-core/src/styles/00-base/colors/color-vars-css-converted";
  }
  
.covidForm { 
  :global{
    @import "node_modules/liquid-core/src/styles/style.scss";
    .lqd-input-text{
      width: 100%;
    }
  }

  .formBody{
    max-width: 40%;
  }
  
  .formRow{
    font-size: 1rem;
    padding-bottom: 1.25rem;
    .question{
      font-weight: bold;
    }
    .radio label{
      padding-right: .25rem;
    }
  }
  
  .buttonRow{
    display: flex;
    button{
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1024px){
      .formBody{
        max-width:fit-content;
      }
  }
  

}
